<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">

  
</head>
<body>


				
				  <div th:fragment="slideshow" class="carousel carousel-slider center">
					    
					    <!--  butoni caruselit    
					    <div class="carousel-fixed-item center">
					      <a class="btn waves-effect white grey-text darken-text-2">button</a>
					    </div>
					     -->
					     
					    <div class="carousel-item white-text" href="#one!">
					    	<img class="activator" src="/images/image3.jpg" alt="" >  
					      <h2>First Panel</h2>
					      <p class="white-text">This is your first panel</p>
					    </div>
					    
					    <div class="carousel-item white-text" href="#two!">
					     <img class="activator" src="/images/image1.jpg" alt="" >  	
					      <h2>Second Panel</h2>
					      <p class="white-text">This is your second panel</p>
					    </div>
					    
					    <div class="carousel-item white-text" href="#three!">
					    	<img class="activator" src="/images/image2.jpg" alt="" > 
					      <h2>Third Panel</h2>
					      <p class="white-text">This is your third panel</p>
					    </div>
					    
					    
					 </div>
				
		
			<!-- ketu mbaron galeria  -->


</body>
</html>